.itemNum{
    position:relative;
    background-color: black;
    color:lightgreen;
    font-weight: bold;
    top:-10px;
    left:-25px;
    font-size:20px;
}

.itemContainer{
    display:flex;
    justify-content: center;
    margin-top:10px;
    background-color: rgba(0,0,0,.6)
}

.itemName{
    margin-top:-5px;
}

.itemRemove{
    color: red;
    font-weight: bolder;
    font-size:20px;
    background-color:black;
    position:relative;
    bottom: 105px;
    right: 20px;
    cursor:pointer;
}

.itemRemove:hover{
    transition-duration:.5s;
}